Repository ilnrzakirov/barber-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, isort, flake8

add-trailing-comma:
  name: Add trailing commas
  description: Automatically add trailing comma to calls and literals
  entry: add-trailing-comma
  language: python

isort:
  name: Sort imports
  entry: isort
  language: python

flake8:
  name: flake8
  description: flake8 linter
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

flake8 config
  setup.cfg
Due: none

Логирование хендлера старт
  bot.py
Due: add-trailing-comma, isort, flake8

Логирование хендлера старт
  requirements/dev_requirements.in
  requirements/dev_requirements.txt
Due: none

Изменил структуру
  bot.py
  bot_init.py
  handlers/__init__.py
  handlers/admin.py
  handlers/client.py
  utils/loger_init.py
Due: add-trailing-comma, isort, flake8

Добавил гитигнор
  .gitignore
Due: none

Update README.md
  README.md
Due: none

Клиентские хендлеры и кнопки
  handlers/client.py
  keyboards/__init__.py
  keyboards/client_keyboards.py
Due: add-trailing-comma, isort, flake8

Добавил временное хранилище
  bot_init.py
Due: add-trailing-comma, isort, flake8

админ хендлер
  handlers/admin.py
Due: add-trailing-comma, isort, flake8

зареганы админ хендлеры
  bot.py
  handlers/admin.py
  keyboards/__init__.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавлены рекваременты
  keyboards/admin_keyboard.py
  requirements/dev_requirements.in
  requirements/dev_requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: add-trailing-comma, isort, flake8

Добавлены рекваременты
  requirements/dev_requirements.in
  requirements/requirements.in
Due: none

Добавлены рекваременты
  requirements/dev_requirements.txt
  requirements/requirements.txt
Due: none

Модель дня
  db/__init__.py
  db/db.py
Due: add-trailing-comma, isort, flake8

Подключение к БД
  db/__init__.py
  db/engine.py
  settings.py
Due: add-trailing-comma, isort, flake8

рефактор
  bot.py
  db/db.py
  handlers/admin.py
Due: add-trailing-comma, isort, flake8

рефактор
  bot.py
  requirements/dev_requirements.in
  requirements/dev_requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: add-trailing-comma, isort, flake8

Обновлены рекварименты, поправил подключение к БД, описал модель Мастера, добавле хендлеры админа
  bot.py
  db/db.py
  db/engine.py
  handlers/admin.py
  handlers/client.py
  keyboards/admin_keyboard.py
  requirements/dev_requirements.in
  requirements/dev_requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
  settings.py
Due: add-trailing-comma, isort, flake8

Добавил алемпик, добавил конф миграций
  alembic.ini
  bot.py
  db/engine.py
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  settings.py
Due: add-trailing-comma, isort, flake8

Добавил мейкфал
  Makefile
  alembic.ini
  migrations/versions/6a1eedf853bf_init.py
Due: add-trailing-comma, isort

Обновил хендлер добавления мастера, вынес подключение к бд в сеттинги
  bot.py
  db/db.py
  db/engine.py
  handlers/admin.py
  settings.py
Due: add-trailing-comma, isort, flake8

Добавил выгрузку мастеров с БД в кнопки
  handlers/admin.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавил хендлер удаления мастера
  handlers/admin.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавил рекварименты
  bot.py
  handlers/admin.py
  requirements/dev_requirements.in
  requirements/dev_requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: add-trailing-comma, isort, flake8

Поменял стореж на редис
  bot_init.py
Due: add-trailing-comma, isort, flake8

Добавил модель админов, добавил миграции
  Makefile
  db/db.py
  migrations/versions/eaee0b4a1ceb_one.py
Due: add-trailing-comma, isort, flake8

Добавил клавиатуру владельца
  handlers/client.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавил хендлер добавления админа
  bot.py
  handlers/__init__.py
  handlers/client.py
  handlers/owner.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавил хендлер удаления админа
  handlers/client.py
  handlers/owner.py
  keyboards/admin_keyboard.py
Due: add-trailing-comma, isort, flake8

Добавил модель записи, добавил миграции, создал yaml файл
  db/db.py
  docker-compose.yml
  migrations/versions/b9cd500884ec_two.py
Due: add-trailing-comma, isort, flake8

Добавил стейт записи
  handlers/client.py
Due: add-trailing-comma, isort, flake8

Path conditions:
  add-trailing-comma: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: ^.*\b(migrations)\b.*$
